@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Urbanist", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #000000;
    overflow-x: hidden;
  }
}
